<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
<nav class="navbar navbar-inverse" th:fragment="header">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle navigation-button" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">USOS++</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/grades/list}">Grades</a></li>
                <li><a th:href="@{/schedule}">Schedule planning</a></li>
                <li><a th:href="@{/calendar/display}">Calendar</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/logout}">Log out</a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
