<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>USOS++</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>

    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          type="text/css"/>
</head>
<body>

<div class="container">

    <div class="starter-template">
        <h1>Welcome to USOS++</h1>
        <div class="alert alert-info" role="alert">
            If you already have an account, click <strong><a th:href="@{/login}">here</a></strong> to log in.
        </div>
        <div class="alert alert-danger" role="alert" th:if="${param.error}">
            Could not register. User already exists.
        </div>
        <form id="registerForm" method="post" th:action="@{/user/register}">
            <div class="form-group row w-50">
                <label class="col-sm-2 col-form-label" for="username">Username: </label>
                <div class="col-sm-10">
                    <input class="form-control" id="username" name="username" type="text"/>
                </div>
            </div>
            <div class="form-group row w-50">
                <label class="col-sm-2 col-form-label" for="password">Password: </label>
                <div class="col-sm-10">
                    <input class="form-control" id="password" name="password" type="password">
                </div>
            </div>
            <input class="btn btn-primary" type="submit" value="Register">
        </form>
    </div>

</div>
<!-- /.container -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>

<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
        type="text/javascript"></script>

</body>
</html>
