<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>USOS++</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>

    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          type="text/css"/>
</head>
<body>

<div th:replace="layout :: header">
    NAVBAR PLACEHOLDER
</div>

<div class="container">

    <div class="starter-template" style="width: 90%">
        <!--/*@thymesVar id="item" type="pl.edu.uj.ii.mmatuszewski.services.schedule.model.SubjectWithEvent"*/-->
        <form method="post"
              th:action="@{/schedule/edit/details}" th:object="${item}">
            <input id="id" name="id" th:value="*{id}" type="hidden">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="name">Name</label>
                <input class="form-control" id="name" list="subjectNames" th:field="*{name}" type="text">
                <datalist id="subjectNames">
                    <!--/*@thymesVar id="subjectNames" type="java.util.List"*/-->
                    <option th:each="subName : ${subjectNames}" th:label="${subName}" th:value="${subName}"></option>
                </datalist>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="type">Type</label>
                <select class="form-control" id="type" th:field="*{type}">
                    <!--/*@thymesVar id="type" type="pl.edu.uj.ii.mmatuszewski.services.schedule.model.ClassType"*/-->
                    <!--/*@thymesVar id="classTypes" type="java.lang.reflect.Array"*/-->
                    <option th:each="type : ${classTypes}" th:text="${type.toString()}"
                            th:value="${type.name()}"></option>
                </select>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="dayOfWeek">Day of week</label>
                <select class="form-control" id="dayOfWeek" th:field="*{dayOfWeek}">
                    <!--/*@thymesVar id="dow" type="java.time.DayOfWeek"*/-->
                    <!--/*@thymesVar id="daysOfWeek" type="java.lang.reflect.Array"*/-->
                    <option th:each="dow : ${daysOfWeek}" th:text="${dow.toString()}"
                            th:value="${dow.name()}"></option>
                </select>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="start">Start time</label>
                <input class="form-control" id="start" th:field="*{start}" type="time">
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="end">End time</label>
                <input class="form-control" id="end" th:field="*{end}" type="time">
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="location">Location</label>
                <input class="form-control" id="location" list="locations" th:field="*{location}" type="text">
                <datalist id="locations">
                    <!--/*@thymesVar id="locations" type="java.util.List"*/-->
                    <option th:each="loc : ${locations}" th:label="${loc}" th:value="${loc}"></option>
                </datalist>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="lecturer">Lecturer</label>
                <input class="form-control" id="lecturer" list="lecturers" th:field="*{lecturer}" type="text">
                <datalist id="lecturers">
                    <!--/*@thymesVar id="lecturers" type="java.util.List"*/-->
                    <option th:each="lec : ${lecturers}" th:label="${lec}" th:value="${lec}"></option>
                </datalist>
            </div>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>

</div>
<!-- /.container -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>

<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
        type="text/javascript"></script>

</body>
</html>
